set timeout=5
set default=0

menuentry "AetherionOS v4.0-smp-stable (Jalon 109c)" {
    multiboot2 /boot/aetherion.bin
    boot
}

menuentry "AetherionOS v4.0 (Serial Console)" {
    multiboot2 /boot/aetherion.bin console=serial
    boot
}
